.navlinks {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 24px;
}
.link {
    letter-spacing: 3px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;

}
.link h3 {
    color: #f7f7f7;
}
.hamburgToggle {
    cursor: pointer;
    color: #f7f7f7;
    display: none;
}

@media screen and (max-width: 880px){
    body {
        overflow-x: hidden;
    }
    .hamburgToggle {
        display: block;
    }
    .navlinks {
        position: absolute;
        right: 0px;
        display: flex;
        flex-direction: column;
        height: 92vh;
        align-items: center;
        width: 100%;
        top: 8vh;
        background:transparent;
        border: 1px solid #fff;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 32px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navlinks::before {
            background:#00000080;

    }
    .active {
        transform: translateX(0);
    }
}