.nav {
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    position: absolute;
    width: 100%;
    align-items: center;
}
.logo {
    display: flex;
    color: #f7f7f7;
    font-size: 32px;
    cursor: progress;
}
.logo h4 {
    margin-left: 7px;
    letter-spacing: 1px;
    font-weight: 300;
}




/* / */
